@import '~node_modules/modern-normalize/modern-normalize.css';

:root {
    --title-color: #ffffff;
    --main-text-color: #000000;
    --second-text-color: #FF6B08;
    --card-info-text-color: #8C8C8C
    --main-bg-color: #ffffff;
    --footer-bg-color: #F7F7F7;
    --button-color: #FF6B01;
    --animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.03em;
    color: var(--main-text-color);
    background-color: var(--main-bg-color);
}