@import '~node_modules/modern-normalize/modern-normalize.css';

:root {
    --title-color: #ffffff;
    --main-text-color: #212121;
    --second-text-color: #757575;
    --main-bg-color: #ffffff;
    --secondary-bg-color: #2f303a;
    --accent-bg-color: #f5f4fa;
    --button-color: #2196f3;
    --hover-color: #2196f3;
    --animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
    font-family: Roboto, sans-serif;
    font-weight: normal;
    font-size: 14px;
    letter-spacing: 0.03em;
    color: var(--main-text-color);
    background-color: var(--main-bg-color);
}