<div class="backdrop js-backdrop">
  <div class="modal">
    <button type="button" class="modal-close">
      <svg class="modal-close__icon" width="30px" height="30px">
        <use href="./images/menu-close.svg#modal-close"></use>
      </svg>
    </button>
    <div class="modal__content"></div>
    <div class="buttons-modal">
      <button type="button" class="button-watched__modal">
        ADD TO WATCHED
      </button>
      <button type="button" class="button-queue__modal">ADD TO QUEUE</button>
    </div>
  </div>
</div>
