<header class="header">
    <div class="container">
        <nav class="navigation">
            <a class="navigation__logo link" href="./index.html">
                <svg class="navigation__icon" width="24" height="24">
                    <use href="./images/symbol-defs.svg#icon-film"></use>
                </svg>
                <span>Filmoteka</span>
            </a>
            <ul class="navigation__list list">
                <li class="navigation__item">
                    <a class="navigation__link link current" href="./index.html">HOME</a>
                </li>
                <li class="navigation__item">
                    <a class="navigation__link link" href="./index-lib.html">MY LIBRARY</a>
                </li>
            </ul>
        </nav>
        <div class="navigation__container">
            <form class="navigation__form" id = "myForm">
                <input type="text" name="navigation__input" class="navigation__input" placeholder="Movie search" />
                <button class="navigation__button" type="submit">
                    <svg class="input__icon" width="12" height="12">
                        <use href="./images/symbol-defs.svg#icon-search"></use>
                    </svg>
                </button>
            </form>
            <span class=" navigation__notificate navigation__notificate-hidden">
                Search result not successful. Enter the correct movie name and
            </span>
        </div>
        <div class="dark-theme__container">
            <button id="dark-theme" class="dark-theme">
                <div class="light visible">Light</div>
                <div class="dark">Dark</div>
            </button>
        </div>
    </div>
</header>
<!-- navigation__notificate-hidden navigation__notificate -->