<header class="header-lib">
    <div class="">
        <nav class="navigation-lib">
            <a class="navigation-lib__logo" href="./index.html">
                <img src="./images/film.svg" alt="" width="24" height="23"></img>
                <span>Filmoteka</span>
            </a>
            <ul class="site-nav list">
                <li class="site-nav__item">
                    <a class="site-nav__link" href="./index.html">Home</a>
                </li>
                <li class="site-nav__item site-nav__item--current">
                    <a class="site-nav__link site-nav__link--current" href="">My library</a>
                </li>
            </ul>
        </nav>
        <div class="button-wrap">
            <button type="button" class="button-watched button-active">Watched</button>
            <button type="button" class="button-queue">Queue</button>
        </div>
    </div>
</header>