<div class="backdrop-modal is-hidden-modal" data-modal>
  <button type="button" class="modal-btn" data-modal-close>
    <svg class="modal__icon" width="32" height="32">
      <use href="./images/symbol-defs.svg#icon-close-black"></use>
    </svg>
  </button>
  <div class="modal-team">
    <h2 class="modal-team-title">Our team</h2>
    <ul class="modal-team-list list">
      <li class="modal-team-item">
        <p>Ihor Lihus - teamlead</p>
      </li>
      <li class="modal-team-item">
        <p>Ivanna Honcharuk - scrummaster</p>
      </li>
      <li class="modal-team-item">
        <p>Anton Kutsim - developer</p>
      </li>
      <li class="modal-team-item">
        <p>Andrew Krykun - developer</p>
      </li>
      <li class="modal-team-item">
        <p>Yevhen Bashchak - developer</p>
      </li>
      <li class="modal-team-item">
        <p>Liliya Nikolaychuk - developer</p>
      </li>
      <li class="modal-team-item">
        <p>Myhailo Rudenko - developer</p>
      </li>
      <li class="modal-team-item">
        <p>Ekaterina Aleksandrovych - mentor</p>
      </li>
    </ul>
  </div>
</div>