.container {
    width: 100%;
    padding-top: 60px;
    padding-bottom: 60px;
    margin: 0 auto;

    @media screen and (min-width: 480px) {
        width: 450px;
    }

    @media screen and (min-width: 768px) {
        width: 768px;
    }

    @media screen and (min-width: 1200px) {
        width: 1200px;
        padding-top: 94px;
        padding-bottom: 94px;
    }
}