.container {
    width: 100%;
    padding: 0 20px;
    margin: 0 auto;

    @media screen and (min-width: 480px) {
        width: 450px;
    }

    @media screen and (min-width: 768px) {
        padding: 0 32px;
        width: 768px;
    }

    @media screen and (min-width: 1200px) {
        width: 1200px;
    }
}