.backdrop {
    position: fixed;
    top: 0;
    z-index: 999;
    background: rgba(0, 0, 0, 0.56);
    width: 100vw;
    height: 100vh;
    opacity: 0;
    visibility: hidden;
    transition: opacity 300ms ease-in-out, visibility 300ms ease-in-out;
}

.backdrop.show-modal .modal {
    transform: translate(-50%, -50%) scale(1);
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 42px 20px 46px 20px;
    width: calc(100% - 30px);
    max-width: 280px;

    background-color: #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    transform: translate(-50%, -50%) scale(1.1);
    transition: transform 300ms ease-in-out;

    @media screen and (min-width: 768px) {
        max-width: 704px;
        padding: 40px 72px 40px 36px;
    }

    @media screen and (min-width: 1200px) {
        max-width: 806px;
        padding: 40px 12px 40px 12px;
    }
}

.modal-close {
    position: absolute;
    top: 4px;
    right: 8px;
    padding: 0;
    width: 30px;
    height: 30px;

    display: flex;
    justify-content: center;
    align-items: center;

    color: red;
    background-color: #ffffff;
    border: none;

    &:hover .modal-close__icon,
    &:focus .modal-close__icon {
        fill: currentColor;
    }
}

.show-modal {
    opacity: 1;
    visibility: visible;
    pointer-events: initial;
}

.modal__content {
    @media screen and (min-width: 768px) {
        display: flex;
    }
}

.title-modal {
    letter-spacing: 0.01em;
    font-size: 20px;
    line-height: 1.15;
    margin-bottom: 20px;

    @media screen and (min-width: 1200px) {
        font-size: 30px;
        line-height: 1.17;
    }
}

.img-modal {
    border-radius: 5px;
    margin-bottom: 20px;

    @media screen and (min-width: 768px) {
        max-width: 264px;
        max-height: 374px;
        margin: 0 68px 0 0;
    }

    @media screen and (min-width: 1200px) {
        max-width: 375px;
        max-height: 478px;
        margin: 0 16px 0 0;
    }
}

.table {
    letter-spacing: 0.01em;
    font-size: 12px;
    margin-bottom: 20px;
    text-align: left;
    line-height: 1.5;
    font-weight: 500;
}

.table-separator:not(:last-child) {
    margin-bottom: 8px;
}

.table__text {
    color: #8C8C8C;

    @media screen and (min-width: 768px) {
        display: flex;
        margin-right: 41px;
    }
}

.title-about__modal {
    letter-spacing: 0.01em;
    margin-bottom: 8px;
    font-size: 13px;
    line-height: 1.3;
}

.about-text__modal {
    margin-bottom: 20px;
    font-size: 12px;
    line-height: 1.7;
    max-height: 300px;
    overflow: auto;
}


.about-scrollbar::-webkit-scrollbar {
    width: 13px;
}

.about-scrollbar::-webkit-scrollbar-thumb {
    background: linear-gradient(to top, #f7f7f7, #ff6b01);
    border-radius: 5px;
    border: solid 1px #5C5252;
}


.buttons-modal {
    display: flex;
    justify-content: space-between;

    @media screen and (min-width: 768px) {
        justify-content: flex-end;
    }
}

.button-watched__modal {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    background: #FF6B01;
    border: none;
    max-width: 110px;
    max-height: 44px;
    border-radius: 5px;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.3;
    padding: 13px;

    @media screen and (min-width: 768px) {
        font-size: 12px;
        padding: 14px 6px;
        max-width: 125px;
    }

    @media screen and (min-width: 1200px) {
        min-width: 136px;
        padding: 14px 7px;
    }
}

.button-queue__modal {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #000000;
    background: #ffffff;
    max-width: 110px;
    max-height: 44px;
    border-radius: 5px;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.3;
    padding: 13px;

    @media screen and (min-width: 768px) {
        margin-left: 15px;
        min-width: 125px;
        padding: 14px 7px;
        font-size: 13px;
    }

    @media screen and (min-width: 1200px) {
       min-width: 136px;
       padding: 14px 7px;
    }
}

.vote-average {
    display: inline-flex;
    width: 36px;
    height: 16px;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    background: #FF6B01;
    border-radius: 5px;
}


.vote-count {
    display: inline-flex;
    width: 36px;
    height: 16px;
    align-items: center;
    justify-content: center;
    background: #F7F7F7;
    border-radius: 5px;
}
