.modal-team{
    display: block;
    margin: auto auto;
    width: 810px;
    height: 560px;
    background-color: aquamarine;
    justify-content: center;
}

.modal-team-title{
    text-align: center;
    width: 100%;
    height: min-content;
}
.modal-team-list{
    text-align: center;
    list-style: none;
}