.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    background: rgba(0, 0, 0, 0.56);
    width: 100vw;
    height: 100vh;
    opacity: 0;
    visibility: hidden;
    transition: opacity 200ms ease-in-out, visibility 200ms ease-in-out;
}

.backdrop.show-modal .modal {
    transform: scale(1);
}

.modal {
    position: absolute;
    top: 2%;
    left: 43%;
    transform: scale(1.1);
    transition: transform 200ms ease-in-out;

    padding: 42px 20px 46px 20px;
    max-width: 280px;
    max-height: 940px;

    background-color: #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.modal-close {
    position: absolute;
    top: 4px;
    right: 8px;
    padding: 0;
    width: 30px;
    height: 30px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #ffffff;
    border: none;

    /* &:hover .modal-close__icon,
    &:focus .modal-close__icon {
        fill: currentColor;
    } */
}

.show-modal {
    opacity: 1;
    visibility: visible;
    pointer-events: initial;
}

.card-container {
    display: grid;
}

.title-modal {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.15;
    margin: 0px 0px 20px 0px;
}

.img-card {
    /* width: 100%; */
    margin-bottom: 20px;
}

.table {
    font-size: 12px;
    margin-bottom: 20px;
    text-align: left;
    line-height: 1.3;
    font-weight: 500;
}

.title-about {
    margin-bottom: 8px;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.3;
}

.about-text {
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.7;
    max-height: 300px;
    overflow: auto;
}

.text-table {
    color: #8C8C8C;
}

.buttons-container {
    display: flex;
    justify-content: space-around;
}

.button-watched_modal {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: #FF6B01;
    border: none;
    min-width: 110px;
    min-height: 44px;
    border-radius: 5px;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.3;
}

.button-queue_modal {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #000000;
    background: #ffffff;
    min-width: 110px;
    min-height: 44px;
    border-radius: 5px;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.3;
}