.loader {
    width: 30px;
    height: 30px;
    border: 5px solid white;
    border-radius: 50%;
    border-top-color: tomato;
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translate(-50%, -50%);
    animation: 1s spin infinite linear;
}

.is-hidden {
    display: none;
}

@keyframes spin {
    from {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    to {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}