.top_button {
    position: fixed;
    bottom: 20px; 
    right: 30px; 
    z-index: 99; 
    border: none; 
    outline: none; 
    background-color: tomato; 
    color: white; 
    cursor: pointer; 
    padding: 10px; 
    border-radius: 50%; 
    font-size: 18px;
    transition: 500ms;

    &:hover,
    &:focus {
        background-color: red;
  }
}

html {
    scroll-behavior: smooth;
}