.container--padding {
    padding-top: 20px;
    //padding-bottom: 40px;

    @media screen and (min-width: 768px) {
        padding-top: 60px;
        //padding-bottom: 60px;
    }
}

.gallery {
    @media screen and (min-width: 768px) {
     display: grid;
     max-width: 704px;
    grid-template-columns: repeat(2, minmax(336, 1fr));
    grid-gap: 16px;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    }
    
    @media screen and (min-width: 1200px) {
        max-width: 1138px;
        grid-template-columns: repeat(3, minmax(347, 1fr));
    }
}

.fill-text {
    color: #545454;
    text-align: center;

}

.img__library {
    max-width: 300px;
    max-height: 200px;
    margin: auto;
}