.auth {
  position: relative;
  right: 0px;
  display: flex;
  flex-direction: row-reverse;
  margin-bottom: 5px;
  height: 30px;
}
.auth_button {
  background-color: #ff6b01;
  border-radius: 5px;
  padding: 5px 10px;
  border: 0px solid transparent;

  height: 25px;
  font-size: 12px;
  line-height: 1.33;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-transform: uppercase;
  color: var(--title-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover {
    box-shadow: inset 0px 0px 3px 2px rgb(235, 161, 161);
  }
}
.auth__button-list {
  display: flex;
  justify-content: center;
  align-items: center;
}
.signup-button-open {
  margin-right: 37px;
}
.login-button-open {
  &::after {
    content: '';
    position: absolute;
    right: 64px;
    width: 25px;
    height: 3px;
    transform: rotate(90deg);
    background-color: #ff001b;
    border-radius: 5px;
  }
}
.signup,
.auth__form {
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  background-color: rgb(212, 199, 199);
  width: 250px;
  height: 250px;
  position: absolute;
  top: 25px;
  z-index: 2;
}
.auth__label {
  font-size: 12px;
  margin-bottom: 10px;
}
.auth__input {
  font-size: 14px;
  border-radius: 5px;
  width: 200px;
  margin-bottom: 10px;
}
.signup__button {
  margin-bottom: 30px;
}
.user-info {
  display: flex;
  align-items: center;
  justify-content: center;
}
.user__img {
  margin-right: 10px;
  width: 30px;
  height: 30px;
  border-radius: 50px;
  background-color: azure;
}
.user__name {
  color: white;
  font-size: 14px;
  margin-right: 10px;
}
.google__icon {
  margin-left: 5px;
}
.login {
}
.logout {
}
.login_google,
.signup_google {
  box-sizing: border-box;
  height: 40px;
  padding: 10px;
}
